footer {
    position: relative;
}

.footer-bottom {
    background: #020E35;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.image-bg-footer {
    background: url("../../assets/images/Illustration-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}